option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NITRO_PORT: 8080
    NITRO_HOST: 127.0.0.1
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
